:root {
  --color-primary: #54e6af;
  --color-primary-bright: #b3ffe2;

  --color-neutral-300: #121725;
  --color-neutral-400: #2c344b;
  --color-neutral-500: #5a668a;
  --color-neutral-600: #c2cbe5;
  --color-neutral-700: #fff;

  --font-primary: Chivo;
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: var(--color-neutral-600);
  -moz-osx-font-smoothing: grayscale; /*(For Firefox)*/
  -webkit-font-smoothing: antialiased; /*(For Chrome and Safari)*/
  backface-visibility: hidden;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background: var(--color-neutral-300);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 0 24px;
}

body::before {
  display: block;
  background-image: url(../assets/mobile/image-host.jpg);
  background-size: cover;
  content: " ";
  height: 667px;
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0.1;
  width: 375px;
  z-index: -100;
}

body::after {
  transition: all 2s ease;
}

header {
  margin-top: 62px;
  margin-bottom: 17px;
}

section {
  text-align: center;
}

article {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.logos-and-mailform,
section {
  display: flex;
  flex-direction: column;
  margin-top: 33px;
  gap: 48px;
}

.podcastlist {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 17px;
}

.logo {
  height: 56px;
  width: auto;
}

.logo-spotify,
.logo-apple {
  height: 17px;
}

.logo-google {
  height: 11px;
}
.logo-pocketcasts {
  height: 15px;
}

.mail-form {
  display: flex;
  flex-direction: column;
}

.mail-form > input,
button {
  background: var(--color-neutral-400);
  border: none;
  border-radius: 28px;
  color: var(--color-neutral-700);
  flex-grow: 2;
  font-size: 14px;
  line-height: 28px;
  font-weight: 700;
  padding: 9px 32px;
}

.mail-form > input:focus {
  outline: none;
}
.mail-form > input::placeholder {
  color: var(--color-neutral-700);
  opacity: 0.5; /* Firefox */
}

.button {
  background: var(--color-primary);
  color: var(--color-neutral-300);
  font-size: 14px;
  line-height: 28px;
  font-weight: 700;
  z-index: 100;
  margin-top: 16px;
}
.button:hover {
  background: var(--color-primary-bright);
}

/* HELPERS */
.text-uppercase {
  text-transform: uppercase;
}
.headline {
  font-size: 26px;
  line-height: 38px;
}

.content {
  font-size: 15px;
  line-height: 25px;
}

.text-color-primary {
  color: var(--color-primary);
}
.text-color-neutral-700 {
  color: var(--color-neutral-700);
}

.mailError {
  display: none;
  font-family: Chivo;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  min-height: 14px;
  color: #fb3e3e;
  margin: 8px 0;
  text-indent: 38px;
}

.mailError-mobile {
  font-family: Chivo;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  color: #fb3e3e;
  margin: 8px 0;
  text-indent: 38px;
}

/* TABLETS */
@media only screen and (min-width: 675px) {
  body {
    align-items: flex-start;
    padding-left: 39px;
    padding-right: 94px;
  }

  body::before {
    background-image: url(../assets/tablet/image-host.jpg);
    height: 767px;
    opacity: 0.8;
    width: 491px;
  }

  body::after {
    display: block;
    background-image: url(../assets/desktop/bg-pattern-dots.svg);
    background-size: cover;
    content: " ";
    height: 104px;
    position: absolute;
    left: 30px;
    bottom: 0;
    width: 232px;
    z-index: -50;
  }

  header {
    margin-top: 50px;
    margin-bottom: 144px;
  }

  section {
    text-align: left;
    margin: 0;
  }

  article {
    gap: 31px;
  }

  .content-wrapper {
    background: var(--color-neutral-300);
    padding-top: 56px;
    width: 635px;
  }

  .logos-and-mailform,
  section {
    display: flex;
    flex-direction: column-reverse;
    gap: 0;
    margin-top: 38px;
  }

  .mail-form {
    background: var(--color-neutral-400);
    display: flex;
    border-radius: 28px;
    flex-direction: row;
    align-content: space-between;
    gap: 0;
    padding: 5px;
    width: 427px;
  }
  .mail-form > input {
    flex-grow: 1000;
  }
  .button {
    padding: 9px 27px;
    margin: 0;
  }

  /* HELPERS */
  .headline {
    font-size: 48px;
    line-height: 56px;
  }

  .content {
    font-size: 18px;
    line-height: 28px;
    width: 445px;
  }

  .podcastlist {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 29px;
    width: 536px;
    margin-top: 35px;
  }

  .logo-spotify,
  .logo-apple {
    height: 29px;
  }

  .logo-google {
    height: 18px;
  }
  .logo-pocketcasts {
    height: 26px;
  }

  .mailError {
    display: unset;
  }
  .mailError-mobile {
    display: none;
  }
}

/* DESKTOP */
@media only screen and (min-width: 1053px) {
  body {
    padding: 0 165px;
  }

  body::before {
    background-image: url(../assets/desktop/image-host.jpg);
    background-size: contain;
    background-position: right 130px;
    background-repeat: no-repeat;
    height: 770px;
    opacity: 0.8;
    width: 888px;
  }

  body::after {
    background-image: url(../assets/desktop/bg-pattern-dots.svg);
    position: absolute;
    left: unset;
    right: 0;
    bottom: 78px;
    width: 232px;
    z-index: -50;
  }

  header {
    margin: 102px 0;
  }

  article {
    gap: 24px;
  }

  .content-wrapper {
    width: 723px;
    padding-top: 50px;
  }

  .podcastlist {
    margin-top: 29px;
  }

  /* HELPERS */
  .headline {
    font-size: 52px;
    line-height: 62px;
  }

  .content {
    font-size: 18px;
    line-height: 28px;
  }
}
